name: Terraform Destroy

on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.14.3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Destroy
    # Ensures that the destroy action is only triggered manually through the workflow dispatch event.
      if: github.event_name == 'workflow_dispatch'  
      env:
        TF_VAR_DBUSERNAME: ${{ secrets.TF_VAR_DBUSERNAME }}
      run: terraform destroy -auto-approve
